openapi: 3.1.0
info:
  title: Brew Public API v1
  version: 1.0.0
  description: |-
    Generated from the Brew app Zod contracts for the current `/api/v1/contacts`, `/api/v1/audiences`, `/api/v1/domains`, `/api/v1/fields`, `/api/v1/emails`, `/api/v1/templates`, `/api/v1/sends`, and `/api/v1/events` endpoints. This file is the source of truth for the public API documentation.

    ## Brand scoping

    API keys are always scoped to a specific brand. The brand is resolved from the key on every request. **No public endpoint accepts a `brandId` field** in its request body or query string — sending one returns `400 INVALID_REQUEST`.

    - Brand-scoped list and read endpoints (`/v1/audiences`, `/v1/domains`, `/v1/emails`, `/v1/contacts`, `/v1/fields`) automatically filter to the key brand.
    - Endpoints that operate on resources tagged with another brand return `404` (resource not visible). `POST /v1/events` returns `403 BRAND_SCOPE_MISMATCH` when the matched trigger event is in a different brand.
    - `GET /v1/templates` is organization-wide and not constrained to the key brand.
    - `GET /v1/domains` returns verified sending domains for the key brand.
    - Brands themselves are managed in the Brew dashboard. The dashboard `brandId` is the value bound to your API key and never needs to be passed in a request.

    ## Triggering events

    External events fire via `POST /v1/events` with `triggerEventId` in the JSON body. The path is FIXED — trigger names, titles, and `providerEventKey` are descriptors and never appear in the URL. Use the `Idempotency-Key` header for safe retries.

    The legacy alias `POST /api/trigger/event` accepts the same body and is kept for back-compat. New integrations should target `POST /v1/events`. The legacy automation-scoped route `POST /api/automations/{automationId}/trigger` is deprecated (returns `Deprecation: true` and a `Sunset` header).
  contact:
    name: Brew Support
    url: https://docs.brew.new
    email: support@brew.new
servers:
  - url: https://brew.new/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Contacts
    description: Create, query, patch, and delete contacts.
  - name: Audiences
    description: List saved audiences available for the org.
  - name: Domains
    description: List verified sending domains available for the org.
  - name: Contact Fields
    description: List, create, and delete custom contact field definitions.
  - name: Emails
    description: Generate draft emails through the Brew email agent.
  - name: Templates
    description: List public templates that can be used as references.
  - name: Sends
    description: Start async send jobs for saved emails.
  - name: Events
    description: Fire trigger events that start published automations and send transactional emails.
  - name: Triggers
    description: Manage trigger event definitions (the schema + lifecycle that automations subscribe to). Flat /v1/triggers route — POST/GET/PATCH/DELETE only; identifiers in body/query.
  - name: Automations
    description: Manage automation graphs end-to-end — create deterministically, generate from a prompt (AI), patch / publish / unpublish / regenerate, cascade-delete. Flat /v1/automations route.
  - name: Executions
    description: Fire triggers, test automations, replay historical fires, read execution history. Flat /v1/executions route — folds in what /v1/events did before.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Send your Brew API key as `Authorization: Bearer brew_xxx`."
      x-default: Bearer brew_your_api_key
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Send your Brew API key as `X-API-Key: brew_xxx`."
      x-default: brew_your_api_key
  schemas:
    EmailType:
      type: string
      enum:
        - campaign
        - automation
        - transactional
    EmailListItem:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailTitle:
          type: string
          minLength: 1
        emailType:
          type: string
          enum:
            - campaign
            - automation
            - transactional
      required:
        - emailId
        - emailTitle
        - emailType
      additionalProperties: false
    TriggerRow:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        provider:
          type: string
          enum:
            - brew_api
            - clerk
            - stripe
            - shopify
            - stytch
            - supabase
            - workos
            - revenuecat
            - custom
        providerEventKey:
          type: string
        status:
          type: string
          enum:
            - enabled
            - disabled
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    minLength: 1
                    description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                  type:
                    type: string
                    enum:
                      - string
                      - int
                      - boolean
                  required:
                    type: boolean
                  fallbackValue:
                    anyOf:
                      - type: string
                      - type: number
                      - type: boolean
                    description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                  pii:
                    type: string
                    enum:
                      - none
                      - low
                      - high
                    description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                required:
                  - key
                  - type
                  - required
          required:
            - type
            - fields
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - triggerEventId
        - title
        - provider
        - status
        - payloadSchema
        - createdAt
        - updatedAt
      additionalProperties: false
    AutomationNode:
      oneOf:
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - trigger
            config:
              type: object
              properties:
                actionType:
                  type: string
                triggerEventId:
                  type: string
                eventName:
                  type: string
          required:
            - id
            - label
            - type
            - config
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - sendEmail
            config:
              type: object
              properties:
                actionType:
                  type: string
                emailId:
                  type: string
                  minLength: 1
                emailVersionId:
                  type: string
                  minLength: 1
                domainId:
                  type: string
                  minLength: 1
                subject:
                  type: string
                  minLength: 1
                previewText:
                  type: string
                  minLength: 1
                fromName:
                  type: string
                  minLength: 1
                replyTo:
                  type: string
                  format: email
                emailTitle:
                  type: string
                emailRowId:
                  type: string
                fromAddress:
                  type: string
              required:
                - emailId
                - emailVersionId
                - domainId
                - subject
                - previewText
          required:
            - id
            - label
            - type
            - config
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - wait
            config:
              type: object
              properties:
                actionType:
                  type: string
                duration:
                  type: number
                unit:
                  type: string
                  enum:
                    - ms
                    - seconds
                    - minutes
                    - hours
                    - days
                    - weeks
              required:
                - duration
                - unit
          required:
            - id
            - label
            - type
            - config
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - filter
            config:
              type: object
              properties:
                actionType:
                  type: string
                logicalOperator:
                  type: string
                  enum:
                    - AND
                    - OR
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                      operator:
                        type: string
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                    required:
                      - field
                      - operator
              required:
                - logicalOperator
                - conditions
          required:
            - id
            - label
            - type
            - config
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - split
            config:
              oneOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - percentage
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    leftPercentage:
                      type: number
                    seed:
                      type: string
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - leftPercentage
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - condition
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                          operator:
                            type: string
                          value:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                        required:
                          - field
                          - operator
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - logicalOperator
                    - conditions
          required:
            - id
            - label
            - type
            - config
    AutomationConnection:
      type: object
      properties:
        from:
          type: string
          minLength: 1
        to:
          type: string
          minLength: 1
        branch:
          type: string
          enum:
            - left
            - right
      required:
        - from
        - to
    AutomationRow:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        published:
          type: boolean
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      triggerEventId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                      emailVersionId:
                        type: string
                      emailRowId:
                        type: string
                      emailTitle:
                        type: string
                      subject:
                        type: string
                      previewText:
                        type: string
                      fromName:
                        type: string
                      fromAddress:
                        type: string
                      domainId:
                        type: string
                      replyTo:
                        type: string
                      to: {}
                      html:
                        type: string
                      variables:
                        type: object
                        additionalProperties: {}
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      logicalOperator:
                        type: string
                        enum:
                          - AND
                          - OR
                      conditions:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            operator:
                              type: string
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                          required:
                            - field
                            - operator
                    required:
                      - logicalOperator
                      - conditions
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
                enum:
                  - left
                  - right
            required:
              - from
              - to
        emailIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        createdBy:
          type: string
        createdByUserId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        versions:
          type: array
          items:
            type: object
            properties:
              automationId:
                type: string
                minLength: 1
                maxLength: 64
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
              triggerEventId:
                type: string
                minLength: 1
                maxLength: 256
              name:
                type: string
                minLength: 1
                maxLength: 120
              description:
                type: string
                maxLength: 2000
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              published:
                type: boolean
              nodes:
                type: array
                items:
                  oneOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - trigger
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            triggerEventId:
                              type: string
                            eventName:
                              type: string
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - sendEmail
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            emailId:
                              type: string
                            emailVersionId:
                              type: string
                            emailRowId:
                              type: string
                            emailTitle:
                              type: string
                            subject:
                              type: string
                            previewText:
                              type: string
                            fromName:
                              type: string
                            fromAddress:
                              type: string
                            domainId:
                              type: string
                            replyTo:
                              type: string
                            to: {}
                            html:
                              type: string
                            variables:
                              type: object
                              additionalProperties: {}
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - wait
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            duration:
                              type: number
                            unit:
                              type: string
                              enum:
                                - ms
                                - seconds
                                - minutes
                                - hours
                                - days
                                - weeks
                          required:
                            - duration
                            - unit
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - filter
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            logicalOperator:
                              type: string
                              enum:
                                - AND
                                - OR
                            conditions:
                              type: array
                              items:
                                type: object
                                properties:
                                  field:
                                    type: string
                                  operator:
                                    type: string
                                  value:
                                    anyOf:
                                      - type: string
                                      - type: number
                                      - type: boolean
                                required:
                                  - field
                                  - operator
                          required:
                            - logicalOperator
                            - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - split
                        config:
                          oneOf:
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - percentage
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                leftPercentage:
                                  type: number
                                seed:
                                  type: string
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - leftPercentage
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - condition
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                logicalOperator:
                                  type: string
                                  enum:
                                    - AND
                                    - OR
                                conditions:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      field:
                                        type: string
                                      operator:
                                        type: string
                                      value:
                                        anyOf:
                                          - type: string
                                          - type: number
                                          - type: boolean
                                    required:
                                      - field
                                      - operator
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - logicalOperator
                                - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
              connections:
                type: array
                items:
                  type: object
                  properties:
                    from:
                      type: string
                      minLength: 1
                    to:
                      type: string
                      minLength: 1
                    branch:
                      type: string
                      enum:
                        - left
                        - right
                  required:
                    - from
                    - to
              emailIds:
                type: array
                items:
                  type: string
                  minLength: 1
                  maxLength: 64
              createdBy:
                type: string
              createdByUserId:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              publishedAt:
                type: string
                format: date-time
            required:
              - automationId
              - automationVersionId
              - name
              - version
              - published
              - nodes
              - connections
              - emailIds
            additionalProperties: false
      required:
        - automationId
        - automationVersionId
        - name
        - version
        - published
        - nodes
        - connections
        - emailIds
      additionalProperties: false
    AutomationRunRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        mode:
          type: string
          enum:
            - live
            - test
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
        recipientEmail:
          type: string
          format: email
        workflowRunId:
          type: string
        dedupKey:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - automationId
        - automationVersionId
        - mode
        - status
      additionalProperties: false
    AutomationRunLogRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        nodeId:
          type: string
          minLength: 1
        nodeName:
          type: string
          minLength: 1
        nodeType:
          type: string
          enum:
            - trigger
            - wait
            - filter
            - split
            - sendEmail
        status:
          type: string
          enum:
            - running
            - success
            - error
            - skipped
        orderIndex:
          type: integer
          minimum: 0
        branch:
          type: string
          enum:
            - left
            - right
        durationMs:
          type: integer
          minimum: 0
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - nodeId
        - nodeName
        - nodeType
        - status
        - orderIndex
        - startedAt
      additionalProperties: false
    ContactsGetSuccessResponse:
      anyOf:
        - $ref: "#/components/schemas/ContactsCountResponse"
        - $ref: "#/components/schemas/ContactsLookupResponse"
        - $ref: "#/components/schemas/ContactsListResponse"
    ContactsCountResponse:
      type: object
      properties:
        count:
          type: integer
          minimum: 0
      required:
        - count
      additionalProperties: false
    ContactsLookupResponse:
      type: object
      properties:
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            firstName:
              type: string
            lastName:
              type: string
            subscribed:
              type: boolean
              default: true
            verificationStatus:
              type: string
              enum:
                - valid
                - risky
                - invalid
            suppressed:
              type: boolean
              default: false
            suppressedReason:
              type:
                - string
                - "null"
            createdAt:
              type: number
            updatedAt:
              type: number
            importId:
              type:
                - string
                - "null"
            customFields:
              type: object
              additionalProperties: {}
              default: {}
          required:
            - email
            - createdAt
            - updatedAt
          additionalProperties: false
      required:
        - contact
      additionalProperties: false
    ContactsListResponse:
      type: object
      properties:
        contacts:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                format: email
              firstName:
                type: string
              lastName:
                type: string
              subscribed:
                type: boolean
                default: true
              verificationStatus:
                type: string
                enum:
                  - valid
                  - risky
                  - invalid
              suppressed:
                type: boolean
                default: false
              suppressedReason:
                type:
                  - string
                  - "null"
              createdAt:
                type: number
              updatedAt:
                type: number
              importId:
                type:
                  - string
                  - "null"
              customFields:
                type: object
                additionalProperties: {}
                default: {}
            required:
              - email
              - createdAt
              - updatedAt
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - contacts
        - pagination
      additionalProperties: false
    ApiErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              minLength: 1
            type:
              type: string
              enum:
                - authentication_error
                - authorization_error
                - invalid_request
                - not_found
                - not_implemented
                - conflict
                - rate_limit
                - internal_error
            message:
              type: string
              minLength: 1
            param:
              type: string
              minLength: 1
            suggestion:
              type: string
              minLength: 1
            docs:
              type: string
              format: uri
            retryAfter:
              type: integer
              minimum: 0
          required:
            - code
            - type
            - message
            - suggestion
            - docs
      required:
        - error
    ContactsPostSuccessResponse:
      anyOf:
        - $ref: "#/components/schemas/ContactsPostSingleResponse"
        - $ref: "#/components/schemas/ContactsPostBatchResponse"
    ContactsPostSingleResponse:
      type: object
      properties:
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            firstName:
              type: string
            lastName:
              type: string
            subscribed:
              type: boolean
              default: true
            verificationStatus:
              type: string
              enum:
                - valid
                - risky
                - invalid
            suppressed:
              type: boolean
              default: false
            suppressedReason:
              type:
                - string
                - "null"
            createdAt:
              type: number
            updatedAt:
              type: number
            importId:
              type:
                - string
                - "null"
            customFields:
              type: object
              additionalProperties: {}
              default: {}
          required:
            - email
            - createdAt
            - updatedAt
          additionalProperties: false
        created:
          type: boolean
        fieldsCreated:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                minLength: 1
              field:
                type: string
                minLength: 1
              message:
                type: string
                minLength: 1
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              original:
                type: string
                minLength: 1
              normalized:
                type: string
                minLength: 1
            required:
              - code
              - message
            additionalProperties: false
      required:
        - contact
        - created
        - fieldsCreated
        - warnings
      additionalProperties: false
    ContactsPostBatchResponse:
      type: object
      properties:
        summary:
          type: object
          properties:
            inserted:
              type: integer
              minimum: 0
            updated:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
          required:
            - inserted
            - updated
            - failed
          additionalProperties: false
        fieldsCreated:
          type: array
          items:
            type: string
        errors:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              code:
                type: string
              message:
                type: string
            required:
              - email
              - code
              - message
            additionalProperties: false
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                minLength: 1
              field:
                type: string
                minLength: 1
              message:
                type: string
                minLength: 1
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              original:
                type: string
                minLength: 1
              normalized:
                type: string
                minLength: 1
            required:
              - code
              - message
            additionalProperties: false
      required:
        - summary
        - fieldsCreated
        - errors
        - warnings
      additionalProperties: false
    ContactsPostRequest:
      anyOf:
        - $ref: "#/components/schemas/ContactsPostSingleRequest"
        - $ref: "#/components/schemas/ContactsPostBatchRequest"
    ContactsPostSingleRequest:
      type: object
      properties:
        email:
          type: string
          minLength: 1
        firstName:
          type: string
        lastName:
          type: string
        subscribed:
          type: boolean
        customFields:
          type: object
          additionalProperties: {}
      required:
        - email
      additionalProperties: false
    ContactsPostBatchRequest:
      type: object
      properties:
        contacts:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              subscribed:
                type: boolean
              customFields:
                type: object
                additionalProperties: {}
            additionalProperties: false
          minItems: 1
          maxItems: 1000
      required:
        - contacts
      additionalProperties: false
    ContactsPatchResponse:
      type: object
      properties:
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            firstName:
              type: string
            lastName:
              type: string
            subscribed:
              type: boolean
              default: true
            verificationStatus:
              type: string
              enum:
                - valid
                - risky
                - invalid
            suppressed:
              type: boolean
              default: false
            suppressedReason:
              type:
                - string
                - "null"
            createdAt:
              type: number
            updatedAt:
              type: number
            importId:
              type:
                - string
                - "null"
            customFields:
              type: object
              additionalProperties: {}
              default: {}
          required:
            - email
            - createdAt
            - updatedAt
          additionalProperties: false
        updated:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
      required:
        - contact
        - updated
      additionalProperties: false
    ContactsPatchRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        fields:
          type: object
          additionalProperties: {}
      required:
        - email
        - fields
      additionalProperties: false
    ContactsDeleteResponse:
      type: object
      properties:
        deleted:
          type: integer
          minimum: 0
        notFound:
          type: array
          items:
            type: string
            minLength: 1
      required:
        - deleted
      additionalProperties: false
    ContactsDeleteRequest:
      anyOf:
        - type: object
          properties:
            email:
              type: string
              format: email
          required:
            - email
          additionalProperties: false
        - type: object
          properties:
            emails:
              type: array
              items:
                type: string
                format: email
              minItems: 1
          required:
            - emails
          additionalProperties: false
    AudiencesListResponse:
      type: object
      properties:
        audiences:
          type: array
          items:
            type: object
            properties:
              audienceId:
                type: string
                minLength: 1
              audienceName:
                type: string
                minLength: 1
            required:
              - audienceId
              - audienceName
            additionalProperties: false
      required:
        - audiences
      additionalProperties: false
    DomainsListResponse:
      type: object
      properties:
        domains:
          type: array
          items:
            type: object
            properties:
              domainId:
                type: string
                minLength: 1
              domainUrl:
                type: string
                format: uri
            required:
              - domainId
              - domainUrl
            additionalProperties: false
      required:
        - domains
      additionalProperties: false
    FieldsGetResponse:
      type: object
      properties:
        fields:
          type: array
          items:
            type: object
            properties:
              fieldName:
                type: string
                minLength: 1
              fieldType:
                type: string
                enum:
                  - string
                  - number
                  - date
                  - bool
              label:
                type: string
              isCore:
                type: boolean
              isFilterable:
                type: boolean
              isSortable:
                type: boolean
              isSearchable:
                type: boolean
            required:
              - fieldName
              - fieldType
            additionalProperties: false
      required:
        - fields
      additionalProperties: false
    FieldsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
      required:
        - success
      additionalProperties: false
    FieldsPostRequest:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
        fieldType:
          type: string
          enum:
            - string
            - number
            - date
            - bool
      required:
        - fieldName
        - fieldType
      additionalProperties: false
    FieldsDeleteRequest:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
      required:
        - fieldName
      additionalProperties: false
    EmailsListResponse:
      type: object
      properties:
        emails:
          type: array
          items:
            type: object
            properties:
              emailId:
                type: string
                minLength: 1
              emailTitle:
                type: string
                minLength: 1
              emailType:
                type: string
                enum:
                  - campaign
                  - automation
                  - transactional
            required:
              - emailId
              - emailTitle
              - emailType
            additionalProperties: false
      required:
        - emails
      additionalProperties: false
    EmailGenerateResponse:
      anyOf:
        - type: object
          properties:
            emailId:
              type: string
              minLength: 1
            emailVersionId:
              type: string
              minLength: 1
            emailHtml:
              type: string
            emailPng:
              type: string
              format: uri
          required:
            - emailId
            - emailVersionId
            - emailHtml
          additionalProperties: false
        - type: object
          properties:
            response:
              type: string
              minLength: 1
          required:
            - response
          additionalProperties: false
    EmailGenerateRequest:
      type: object
      properties:
        prompt:
          type: string
          minLength: 1
        emailType:
          type: string
          enum:
            - campaign
            - automation
            - transactional
        contentUrl:
          type: string
          format: uri
        referenceEmailId:
          type: string
      required:
        - prompt
        - emailType
      additionalProperties: false
    EmailEditRequest:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
          maxLength: 64
        emailVersionId:
          type: string
          minLength: 1
          maxLength: 64
        prompt:
          type: string
          minLength: 1
        contentUrl:
          type: string
          format: uri
      required:
        - emailId
        - prompt
      additionalProperties: false
    TemplatesListResponse:
      type: object
      properties:
        templates:
          type: array
          items:
            type: object
            properties:
              emailId:
                type: string
                minLength: 1
              emailHtml:
                type: string
                minLength: 1
              emailPng:
                type: string
                format: uri
            required:
              - emailId
              - emailHtml
              - emailPng
            additionalProperties: false
      required:
        - templates
      additionalProperties: false
    SendsPostResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - queued
            - scheduled
        runId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
      required:
        - status
        - runId
      additionalProperties: false
    SendsPostRequest:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        domainId:
          type: string
          minLength: 1
        subject:
          type: string
          minLength: 1
        previewText:
          type: string
          maxLength: 50
        replyTo:
          type: string
          format: email
        audienceId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
      required:
        - emailId
        - domainId
        - subject
        - audienceId
      additionalProperties: false
    FireEventResponse:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
          enum:
            - triggered
            - idempotent_replay
            - ready
            - invalid_api_key
            - invalid_json
            - failed
            - forbidden
            - payload_mismatch
            - trigger_event_not_found
          description: 'Discriminator for the response category. Pairs with `code`. A disabled trigger returns `status: "failed"` + `code: "TRIGGER_DISABLED"` (HTTP 422). An enabled trigger with no published automation attached returns `status: "failed"` + `code: "NO_PUBLISHED_AUTOMATION"` (HTTP 422). Successful fires always return `status: "triggered"`.'
        code:
          type: string
        message:
          type: string
        triggerEventId:
          type: string
        receivedAt:
          type: string
          description: ISO-8601 timestamp the request was processed at.
        details:
          type: object
          properties:
            resolvedPayload:
              type: object
              additionalProperties: {}
            warnings:
              type: array
              items: {}
            idempotencyKey:
              type: string
            triggerInstanceId:
              type: string
              description: Unique identifier for the persisted inbound row. Useful for support and replay. Set whenever an Idempotency-Key was provided.
            publishedTransactionalEmails:
              type: array
              items:
                type: object
                properties:
                  emailId:
                    type: string
                required:
                  - emailId
                additionalProperties: {}
            publishedAutomations:
              type: array
              items:
                type: object
                properties:
                  automationId:
                    type: string
                  title:
                    type: string
                required:
                  - automationId
                additionalProperties: {}
            automationRunIds:
              type: array
              items:
                type: string
            counts:
              type: object
              properties:
                transactionalEmails:
                  type: integer
                automations:
                  type: integer
              required:
                - transactionalEmails
                - automations
          additionalProperties: {}
      required:
        - success
        - status
        - code
        - message
        - receivedAt
      additionalProperties: false
    FireEventRequest:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 64
          description: Internal id of the published trigger event to fire. Returned by `POST /api/v1/triggers` and listed in `GET /api/v1/triggers`. The trigger title and providerEventKey are descriptors and are NEVER URL segments — the path is fixed at `/api/v1/automation/runs`.
        payload:
          type: object
          additionalProperties: {}
          description: Event payload — fields and types must match the trigger's `payloadSchema`. Unknown fields are accepted but reported as `unexpected_key` warnings.
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 100
          description: Legacy body-field alternative to the `Idempotency-Key` HTTP header. Prefer the header for new integrations. The token is namespaced server-side with the API key org so different tenants cannot collide.
      required:
        - triggerEventId
        - payload
      additionalProperties: false
    TriggersPostRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    minLength: 1
                    description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                  type:
                    type: string
                    enum:
                      - string
                      - int
                      - boolean
                  required:
                    type: boolean
                  fallbackValue:
                    anyOf:
                      - type: string
                      - type: number
                      - type: boolean
                    description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                  pii:
                    type: string
                    enum:
                      - none
                      - low
                      - high
                    description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                required:
                  - key
                  - type
                  - required
          required:
            - type
            - fields
      required:
        - title
        - payloadSchema
      additionalProperties: false
    TriggersListResponse:
      type: object
      properties:
        triggers:
          type: array
          items:
            type: object
            properties:
              triggerEventId:
                type: string
                minLength: 1
                maxLength: 256
              title:
                type: string
                minLength: 1
                maxLength: 120
              description:
                type: string
                maxLength: 2000
              provider:
                type: string
                enum:
                  - brew_api
                  - clerk
                  - stripe
                  - shopify
                  - stytch
                  - supabase
                  - workos
                  - revenuecat
                  - custom
              providerEventKey:
                type: string
              status:
                type: string
                enum:
                  - enabled
                  - disabled
              payloadSchema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - object
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          minLength: 1
                          description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                        type:
                          type: string
                          enum:
                            - string
                            - int
                            - boolean
                        required:
                          type: boolean
                        fallbackValue:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                          description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                        pii:
                          type: string
                          enum:
                            - none
                            - low
                            - high
                          description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                      required:
                        - key
                        - type
                        - required
                required:
                  - type
                  - fields
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
            required:
              - triggerEventId
              - title
              - provider
              - status
              - payloadSchema
              - createdAt
              - updatedAt
            additionalProperties: false
      required:
        - triggers
      additionalProperties: false
    TriggersPatchRequest:
      anyOf:
        - type: object
          properties:
            triggerEventId:
              type: string
              minLength: 1
              maxLength: 256
            title:
              type: string
              minLength: 1
              maxLength: 120
            description:
              type: string
              maxLength: 2000
            payloadSchema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - object
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        minLength: 1
                        description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                      type:
                        type: string
                        enum:
                          - string
                          - int
                          - boolean
                      required:
                        type: boolean
                      fallbackValue:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                        description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                      pii:
                        type: string
                        enum:
                          - none
                          - low
                          - high
                        description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                    required:
                      - key
                      - type
                      - required
              required:
                - type
                - fields
          required:
            - triggerEventId
          additionalProperties: false
        - type: object
          properties:
            triggerEventId:
              type: string
              minLength: 1
              maxLength: 256
            status:
              type: string
              enum:
                - enabled
                - disabled
          required:
            - triggerEventId
            - status
          additionalProperties: false
    TriggersDeleteRequest:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
      required:
        - triggerEventId
      additionalProperties: false
    AutomationsListResponse:
      type: object
      properties:
        automations:
          type: array
          items:
            type: object
            properties:
              automationId:
                type: string
                minLength: 1
                maxLength: 64
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
              triggerEventId:
                type: string
                minLength: 1
                maxLength: 256
              name:
                type: string
                minLength: 1
                maxLength: 120
              description:
                type: string
                maxLength: 2000
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              published:
                type: boolean
              nodes:
                type: array
                items:
                  oneOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - trigger
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            triggerEventId:
                              type: string
                            eventName:
                              type: string
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - sendEmail
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            emailId:
                              type: string
                            emailVersionId:
                              type: string
                            emailRowId:
                              type: string
                            emailTitle:
                              type: string
                            subject:
                              type: string
                            previewText:
                              type: string
                            fromName:
                              type: string
                            fromAddress:
                              type: string
                            domainId:
                              type: string
                            replyTo:
                              type: string
                            to: {}
                            html:
                              type: string
                            variables:
                              type: object
                              additionalProperties: {}
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - wait
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            duration:
                              type: number
                            unit:
                              type: string
                              enum:
                                - ms
                                - seconds
                                - minutes
                                - hours
                                - days
                                - weeks
                          required:
                            - duration
                            - unit
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - filter
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            logicalOperator:
                              type: string
                              enum:
                                - AND
                                - OR
                            conditions:
                              type: array
                              items:
                                type: object
                                properties:
                                  field:
                                    type: string
                                  operator:
                                    type: string
                                  value:
                                    anyOf:
                                      - type: string
                                      - type: number
                                      - type: boolean
                                required:
                                  - field
                                  - operator
                          required:
                            - logicalOperator
                            - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - split
                        config:
                          oneOf:
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - percentage
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                leftPercentage:
                                  type: number
                                seed:
                                  type: string
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - leftPercentage
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - condition
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                logicalOperator:
                                  type: string
                                  enum:
                                    - AND
                                    - OR
                                conditions:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      field:
                                        type: string
                                      operator:
                                        type: string
                                      value:
                                        anyOf:
                                          - type: string
                                          - type: number
                                          - type: boolean
                                    required:
                                      - field
                                      - operator
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - logicalOperator
                                - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
              connections:
                type: array
                items:
                  type: object
                  properties:
                    from:
                      type: string
                      minLength: 1
                    to:
                      type: string
                      minLength: 1
                    branch:
                      type: string
                      enum:
                        - left
                        - right
                  required:
                    - from
                    - to
              emailIds:
                type: array
                items:
                  type: string
                  minLength: 1
                  maxLength: 64
              createdBy:
                type: string
              createdByUserId:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              publishedAt:
                type: string
                format: date-time
              versions:
                type: array
                items:
                  type: object
                  properties:
                    automationId:
                      type: string
                      minLength: 1
                      maxLength: 64
                    automationVersionId:
                      type: string
                      minLength: 1
                      maxLength: 64
                    triggerEventId:
                      type: string
                      minLength: 1
                      maxLength: 256
                    name:
                      type: string
                      minLength: 1
                      maxLength: 120
                    description:
                      type: string
                      maxLength: 2000
                    version:
                      anyOf:
                        - type: integer
                          minimum: 0
                        - type: string
                          enum:
                            - latest
                    published:
                      type: boolean
                    nodes:
                      type: array
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                                minLength: 1
                              label:
                                type: string
                                minLength: 1
                              description:
                                type: string
                              type:
                                type: string
                                enum:
                                  - trigger
                              config:
                                type: object
                                properties:
                                  actionType:
                                    type: string
                                  triggerEventId:
                                    type: string
                                  eventName:
                                    type: string
                            required:
                              - id
                              - label
                              - type
                              - config
                          - type: object
                            properties:
                              id:
                                type: string
                                minLength: 1
                              label:
                                type: string
                                minLength: 1
                              description:
                                type: string
                              type:
                                type: string
                                enum:
                                  - sendEmail
                              config:
                                type: object
                                properties:
                                  actionType:
                                    type: string
                                  emailId:
                                    type: string
                                  emailVersionId:
                                    type: string
                                  emailRowId:
                                    type: string
                                  emailTitle:
                                    type: string
                                  subject:
                                    type: string
                                  previewText:
                                    type: string
                                  fromName:
                                    type: string
                                  fromAddress:
                                    type: string
                                  domainId:
                                    type: string
                                  replyTo:
                                    type: string
                                  to: {}
                                  html:
                                    type: string
                                  variables:
                                    type: object
                                    additionalProperties: {}
                            required:
                              - id
                              - label
                              - type
                              - config
                          - type: object
                            properties:
                              id:
                                type: string
                                minLength: 1
                              label:
                                type: string
                                minLength: 1
                              description:
                                type: string
                              type:
                                type: string
                                enum:
                                  - wait
                              config:
                                type: object
                                properties:
                                  actionType:
                                    type: string
                                  duration:
                                    type: number
                                  unit:
                                    type: string
                                    enum:
                                      - ms
                                      - seconds
                                      - minutes
                                      - hours
                                      - days
                                      - weeks
                                required:
                                  - duration
                                  - unit
                            required:
                              - id
                              - label
                              - type
                              - config
                          - type: object
                            properties:
                              id:
                                type: string
                                minLength: 1
                              label:
                                type: string
                                minLength: 1
                              description:
                                type: string
                              type:
                                type: string
                                enum:
                                  - filter
                              config:
                                type: object
                                properties:
                                  actionType:
                                    type: string
                                  logicalOperator:
                                    type: string
                                    enum:
                                      - AND
                                      - OR
                                  conditions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        field:
                                          type: string
                                        operator:
                                          type: string
                                        value:
                                          anyOf:
                                            - type: string
                                            - type: number
                                            - type: boolean
                                      required:
                                        - field
                                        - operator
                                required:
                                  - logicalOperator
                                  - conditions
                            required:
                              - id
                              - label
                              - type
                              - config
                          - type: object
                            properties:
                              id:
                                type: string
                                minLength: 1
                              label:
                                type: string
                                minLength: 1
                              description:
                                type: string
                              type:
                                type: string
                                enum:
                                  - split
                              config:
                                oneOf:
                                  - type: object
                                    properties:
                                      actionType:
                                        type: string
                                      mode:
                                        type: string
                                        enum:
                                          - percentage
                                      leftLabel:
                                        type: string
                                      rightLabel:
                                        type: string
                                      leftPercentage:
                                        type: number
                                      seed:
                                        type: string
                                    required:
                                      - mode
                                      - leftLabel
                                      - rightLabel
                                      - leftPercentage
                                  - type: object
                                    properties:
                                      actionType:
                                        type: string
                                      mode:
                                        type: string
                                        enum:
                                          - condition
                                      leftLabel:
                                        type: string
                                      rightLabel:
                                        type: string
                                      logicalOperator:
                                        type: string
                                        enum:
                                          - AND
                                          - OR
                                      conditions:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            field:
                                              type: string
                                            operator:
                                              type: string
                                            value:
                                              anyOf:
                                                - type: string
                                                - type: number
                                                - type: boolean
                                          required:
                                            - field
                                            - operator
                                    required:
                                      - mode
                                      - leftLabel
                                      - rightLabel
                                      - logicalOperator
                                      - conditions
                            required:
                              - id
                              - label
                              - type
                              - config
                    connections:
                      type: array
                      items:
                        type: object
                        properties:
                          from:
                            type: string
                            minLength: 1
                          to:
                            type: string
                            minLength: 1
                          branch:
                            type: string
                            enum:
                              - left
                              - right
                        required:
                          - from
                          - to
                    emailIds:
                      type: array
                      items:
                        type: string
                        minLength: 1
                        maxLength: 64
                    createdBy:
                      type: string
                    createdByUserId:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    publishedAt:
                      type: string
                      format: date-time
                  required:
                    - automationId
                    - automationVersionId
                    - name
                    - version
                    - published
                    - nodes
                    - connections
                    - emailIds
                  additionalProperties: false
            required:
              - automationId
              - automationVersionId
              - name
              - version
              - published
              - nodes
              - connections
              - emailIds
            additionalProperties: false
      required:
        - automations
      additionalProperties: false
    AutomationsPostRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      triggerEventId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                        minLength: 1
                      emailVersionId:
                        type: string
                        minLength: 1
                      domainId:
                        type: string
                        minLength: 1
                      subject:
                        type: string
                        minLength: 1
                      previewText:
                        type: string
                        minLength: 1
                      fromName:
                        type: string
                        minLength: 1
                      replyTo:
                        type: string
                        format: email
                      emailTitle:
                        type: string
                      emailRowId:
                        type: string
                      fromAddress:
                        type: string
                    required:
                      - emailId
                      - emailVersionId
                      - domainId
                      - subject
                      - previewText
[...]
