openapi: 3.1.0
info:
  title: Brew Public API v1
  version: 1.0.0
  description: |-
    Generated from the Brew app Zod contracts (`lib/<domain>/contracts.ts`). This file is the source of truth for the public API documentation.

    ## Resource paths

    Identity lives in the URL path (`/v1/analytics/sends/{sendId}`) — never in a query param or request body. Collections are plural top-level segments (`/v1/emails`); query params exist only for collection pagination + simple filters. Relationships are sub-resources (`/v1/emails/{emailId}/sends`), and non-CRUD operations are explicit action sub-paths (`/v1/automations/{automationId}/test`).

    ## Response envelopes

    - Lists: `{ data: Row[], pagination: { limit, cursor: string | null, hasMore } }` — loop `while (cursor !== null)`.
    - Get-one and writes: the bare resource (creates return `201`; async sends `202`).
    - Deletes: `{ <idField>, deleted: boolean }` — idempotent (already-gone ids resolve with `deleted: false`).
    - Errors: `{ error: { code, type, message, param?, suggestion, docs } }` — branch on the stable `code`.
    - ONE exception: `POST /v1/automations/triggers/{triggerEventId}/fire` responds with the legacy fire envelope `{ success, status, code, message, receivedAt, details }` (shared with internal webhook infrastructure).

    ## Brand scoping

    API keys are always scoped to a specific brand. The brand is resolved from the key on every request. **No public endpoint accepts a `brandId` field** in its request body or query string — sending one returns `400 INVALID_REQUEST`. Resources that exist in a different brand surface as `404` (never `403`), so the API does not leak cross-brand existence. `GET /v1/templates` is organization-wide and not constrained to the key brand. Brands themselves are managed in the Brew dashboard.

    ## Idempotency

    Send an `Idempotency-Key` header (≤ 100 chars) on any POST your code might retry. Same key + same body within 24h returns the original response; same key + different body returns `409 IDEMPOTENCY_CONFLICT`.
  contact:
    name: Brew Support
    url: https://docs.brew.new
    email: support@brew.new
servers:
  - url: https://brew.new/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Emails
    description: "Email designs and sending. Generate a design with the Brew email agent, edit, version, restore — then send it: `POST /v1/sends` delivers a design to a target (a saved audience, an inline list, or a single address) via a verified domain, and `POST /v1/sends/test` fires a one-off test. Sending is not campaign-specific. Send reads (list, status, per-send event feeds) live under Analytics (`/v1/analytics/sends`)."
  - name: Analytics
    description: "Read-only cross-resource analytics: lifetime per-campaign KPIs, windowed automation performance, the unified event feed, send reads (`/v1/analytics/sends`), and the fired-trigger audit log (`/v1/analytics/trigger-instances`)."
  - name: Automations
    description: Automation graphs — deterministic create from explicit `nodes` + `connections`, update, version, publish / unpublish, test. Includes trigger event definitions + the fire endpoint (`/v1/automations/triggers`) and run history (`/v1/automations/runs`).
  - name: Contacts
    description: Create, search, patch, and delete contacts. Email is the primary key.
  - name: Contact Fields
    description: List, create, and delete custom contact field definitions.
  - name: Audiences
    description: Saved contact filter sets — a recipient target for sends.
  - name: Domains
    description: "Sending domains: add, read DNS records, verify, configure sender defaults."
  - name: Templates
    description: Public template gallery (read-only) usable as generation references.
  - name: Brand
    description: The single brand bound to the API key.
  - name: Chats
    description: Read a brand-scoped digest of a Brew chat — referenced emails/automations/triggers + a trimmed transcript — so an external agent can resume the conversation.
  - name: Meta
    description: "Public discovery surface (no auth): the machine-readable API catalog (`/v1/help`)."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Send your Brew API key as `Authorization: Bearer brew_xxx`."
      x-default: Bearer brew_your_api_key
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Send your Brew API key as `X-API-Key: brew_xxx`."
      x-default: brew_your_api_key
  schemas:
    EmailSummary:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
        html:
          type: string
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              emailVersionId:
                type: string
                minLength: 1
            required:
              - version
              - emailVersionId
            additionalProperties: false
      required:
        - emailId
        - title
        - status
        - updatedAt
      additionalProperties: false
    EmailDetail:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        html:
          type: string
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
      required:
        - emailId
        - title
        - status
        - updatedAt
      additionalProperties: false
    EmailVersionRow:
      type: object
      properties:
        emailVersionId:
          type: string
          minLength: 1
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        updatedAt:
          type: string
          format: date-time
      required:
        - emailVersionId
        - version
        - status
        - updatedAt
      additionalProperties: false
    Send:
      type: object
      properties:
        sendId:
          type: string
          minLength: 1
        kind:
          type: string
          enum:
            - campaign
            - automation
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - scheduled
            - queued
            - sending
            - sent
            - failed
            - canceled
        subject:
          type: string
        previewText:
          type: string
        audienceId:
          type: string
          minLength: 1
        audienceName:
          type: string
          minLength: 1
        recipientCount:
          type: integer
          minimum: 0
        runId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        failedAt:
          type: string
          format: date-time
        error:
          type: string
        stats:
          type: object
          properties:
            sent:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            opened:
              type: integer
              minimum: 0
            clicked:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            complained:
              type: integer
              minimum: 0
            unsubscribed:
              type: integer
              minimum: 0
          required:
            - sent
            - delivered
            - opened
            - clicked
            - bounced
            - complained
            - unsubscribed
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
                enum:
                  - sent
                  - delivered
                  - delivery_delayed
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - failed
                  - suppressed
                  - received
                  - unsubscribed
              occurredAt:
                type: string
                format: date-time
              recipientEmail:
                type: string
              url:
                type: string
            required:
              - eventType
              - occurredAt
            additionalProperties: false
      required:
        - sendId
        - kind
        - emailId
        - status
        - createdAt
        - updatedAt
      additionalProperties: false
    SendEvent:
      type: object
      properties:
        eventType:
          type: string
          enum:
            - sent
            - delivered
            - delivery_delayed
            - opened
            - clicked
            - bounced
            - complained
            - failed
            - suppressed
            - received
            - unsubscribed
        occurredAt:
          type: string
          format: date-time
        recipientEmail:
          type: string
        url:
          type: string
      required:
        - eventType
        - occurredAt
      additionalProperties: false
    AutomationNode:
      oneOf:
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - trigger
            config:
              type: object
              properties:
                actionType:
                  type: string
                triggerEventId:
                  type: string
                eventName:
                  type: string
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - sendEmail
            config:
              type: object
              properties:
                actionType:
                  type: string
                emailId:
                  type: string
                  minLength: 1
                emailVersionId:
                  type: string
                  minLength: 1
                domainId:
                  type: string
                  minLength: 1
                subject:
                  type: string
                  minLength: 1
                previewText:
                  type: string
                  minLength: 1
                fromName:
                  type: string
                  minLength: 1
                replyTo:
                  type: string
                  format: email
                emailTitle:
                  type: string
                fromAddress:
                  type: string
              required:
                - emailId
                - emailVersionId
                - domainId
                - subject
                - previewText
              additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - wait
            config:
              type: object
              properties:
                actionType:
                  type: string
                duration:
                  type: number
                unit:
                  type: string
                  enum:
                    - ms
                    - seconds
                    - minutes
                    - hours
                    - days
                    - weeks
              required:
                - duration
                - unit
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - filter
            config:
              type: object
              properties:
                actionType:
                  type: string
                logicalOperator:
                  type: string
                  enum:
                    - AND
                    - OR
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                      operator:
                        type: string
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                    required:
                      - field
                      - operator
              required:
                - logicalOperator
                - conditions
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - split
            config:
              oneOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - percentage
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    leftPercentage:
                      type: number
                    seed:
                      type: string
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - leftPercentage
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - condition
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          field:
                            type: string
                          operator:
                            type: string
                          value:
                            anyOf:
                              - type: string
                              - type: number
                              - type: boolean
                        required:
                          - field
                          - operator
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - logicalOperator
                    - conditions
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
    AutomationConnection:
      type: object
      properties:
        from:
          type: string
          minLength: 1
        to:
          type: string
          minLength: 1
        branch:
          type: string
          enum:
            - left
            - right
      required:
        - from
        - to
      additionalProperties: false
    AutomationRow:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        published:
          type: boolean
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      triggerEventId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                      emailVersionId:
                        type: string
                      emailTitle:
                        type: string
                      subject:
                        type: string
                      previewText:
                        type: string
                      fromName:
                        type: string
                      fromAddress:
                        type: string
                      domainId:
                        type: string
                      replyTo:
                        type: string
                      to: {}
                      html:
                        type: string
                      variables:
                        type: object
                        additionalProperties: {}
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      logicalOperator:
                        type: string
                        enum:
                          - AND
                          - OR
                      conditions:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            operator:
                              type: string
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                          required:
                            - field
                            - operator
                    required:
                      - logicalOperator
                      - conditions
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
                enum:
                  - left
                  - right
            required:
              - from
              - to
        emailIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
            required:
              - version
              - automationVersionId
            additionalProperties: false
      required:
        - automationId
        - automationVersionId
        - name
        - version
        - published
        - emailIds
      additionalProperties: false
    AutomationRunRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        mode:
          type: string
          enum:
            - live
            - test
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
        recipientEmail:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - automationId
        - mode
        - status
      additionalProperties: false
    AutomationRunLogRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        nodeId:
          type: string
          minLength: 1
        nodeName:
          type: string
          minLength: 1
        nodeType:
          type: string
          enum:
            - trigger
            - wait
            - filter
            - split
            - sendEmail
        status:
          type: string
          enum:
            - running
            - success
            - error
            - skipped
        orderIndex:
          type: integer
          minimum: 0
        branch:
          type: string
          enum:
            - left
            - right
        durationMs:
          type: integer
          minimum: 0
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - nodeId
        - nodeName
        - nodeType
        - status
        - orderIndex
        - startedAt
      additionalProperties: false
    TriggerRow:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        provider:
          type: string
          enum:
            - brew_api
            - clerk
            - stripe
            - shopify
            - stytch
            - supabase
            - workos
            - revenuecat
            - custom
        providerEventKey:
          type: string
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    minLength: 1
                    description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                  type:
                    type: string
                    enum:
                      - string
                      - int
                      - boolean
                  required:
                    type: boolean
                  fallbackValue:
                    anyOf:
                      - type: string
                      - type: number
                      - type: boolean
                    description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                  pii:
                    type: string
                    enum:
                      - none
                      - low
                      - high
                    description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                required:
                  - key
                  - type
                  - required
          required:
            - type
            - fields
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - triggerEventId
        - title
        - provider
        - payloadSchema
        - createdAt
        - updatedAt
      additionalProperties: false
    TriggerEventInstance:
      type: object
      properties:
        triggerInstanceId:
          type: string
          minLength: 1
        source:
          type: string
          enum:
            - api
            - integration
        provider:
          type: string
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        state:
          type: string
          minLength: 1
        matchedAutomationIds:
          type: array
          items:
            type: string
        automationRunIds:
          type: array
          items:
            type: string
        rejectionReason:
          type: string
        attempts:
          type: integer
          minimum: 0
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
      required:
        - triggerInstanceId
        - source
        - state
        - matchedAutomationIds
        - automationRunIds
        - attempts
        - receivedAt
      additionalProperties: false
    Contact:
      type: object
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        subscribed:
          type: boolean
          default: true
        verificationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
        suppressed:
          type: boolean
          default: false
        suppressedReason:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        importId:
          type:
            - string
            - "null"
        customFields:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - email
        - createdAt
        - updatedAt
      additionalProperties: false
    ContactFieldDefinition:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
        fieldType:
          type: string
          enum:
            - string
            - number
            - date
            - bool
        label:
          type: string
        isCore:
          type: boolean
        isFilterable:
          type: boolean
        isSortable:
          type: boolean
        isSearchable:
          type: boolean
      required:
        - fieldName
        - fieldType
      additionalProperties: false
    Audience:
      type: object
      properties:
        audienceId:
          type: string
          minLength: 1
          maxLength: 64
        audienceName:
          type: string
          minLength: 1
          maxLength: 200
        filters:
          type: object
          properties:
            filters:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    minLength: 1
                  operator:
                    type: string
                    enum:
                      - equals
                      - not_equals
                      - contains
                      - not_contains
                      - contains_any
                      - not_contains_any
                      - starts_with
                      - ends_with
                      - gt
                      - gte
                      - lt
                      - lte
                      - between
                      - is_true
                      - is_false
                      - in
                      - not_in
                      - is_empty
                      - not_exists
                      - is_not_empty
                      - exists
                      - is_set
                      - before
                      - after
                      - on_date
                  value: {}
                  type:
                    type: string
                required:
                  - field
                  - operator
                additionalProperties: false
            logicalOperator:
              type: string
              enum:
                - and
                - or
          required:
            - filters
            - logicalOperator
          additionalProperties: false
        count:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - audienceId
        - audienceName
        - filters
        - count
        - createdAt
        - updatedAt
      additionalProperties: false
    Domain:
      type: object
      properties:
        domainId:
          type: string
          minLength: 1
          maxLength: 64
        domainUrl:
          type: string
          format: uri
        name:
          type: string
          minLength: 1
          maxLength: 253
        region:
          type: string
        status:
          type: string
          enum:
            - not_started
            - pending
            - verified
            - failed
            - temporary_failure
            - partially_verified
            - partially_failed
        sendingEnabled:
          type: boolean
        sendable:
          type: boolean
        records:
          type: array
          items:
            type: object
            properties:
              record:
                type: string
              name:
                type: string
              type:
                type: string
              ttl:
                type: string
              status:
                type: string
              value:
                type: string
              priority:
                type: number
            required:
              - record
              - name
              - type
              - ttl
              - status
              - value
            additionalProperties: false
        openTracking:
          type: boolean
        clickTracking:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        verifiedAt:
          type: string
          format: date-time
      required:
        - domainId
        - domainUrl
        - name
        - region
        - status
        - sendingEnabled
        - sendable
        - records
        - createdAt
        - updatedAt
      additionalProperties: false
    Template:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        category:
          type: string
          minLength: 1
        brand:
          type: string
          minLength: 1
        html:
          type: string
          minLength: 1
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          minLength: 1
      required:
        - emailId
        - title
        - html
        - previewImage
        - updatedAt
      additionalProperties: false
    EmailsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              emailId:
                type: string
                minLength: 1
              emailVersionId:
                type: string
                minLength: 1
              title:
                type: string
                minLength: 1
              status:
                type: string
                enum:
                  - streaming
                  - complete
                  - error
              previewImage:
                type: string
                format: uri
              updatedAt:
                type: string
                format: date-time
              html:
                type: string
              versions:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      anyOf:
                        - type: integer
                          minimum: 0
                        - type: string
                          enum:
                            - latest
                    emailVersionId:
                      type: string
                      minLength: 1
                  required:
                    - version
                    - emailVersionId
                  additionalProperties: false
            required:
              - emailId
              - title
              - status
              - updatedAt
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    ApiErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              minLength: 1
            type:
              type: string
              enum:
                - authentication_error
                - authorization_error
                - invalid_request
                - not_found
                - not_implemented
                - conflict
                - rate_limit
                - payment_required
                - service_unavailable
                - internal_error
            message:
              type: string
              minLength: 1
            param:
              type: string
              minLength: 1
            suggestion:
              type: string
              minLength: 1
            docs:
              type: string
              format: uri
            retryAfter:
              type: integer
              minimum: 0
            details:
              type: object
              additionalProperties: {}
          required:
            - code
            - type
            - message
            - suggestion
            - docs
      required:
        - error
    EmailGenerateTextResponse:
      type: object
      properties:
        response:
          type: string
          minLength: 1
      required:
        - response
      additionalProperties: false
    EmailGenerateGeneratedResponse:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        html:
          type: string
        previewImage:
          type: string
          format: uri
      required:
        - emailId
        - emailVersionId
        - html
      additionalProperties: false
    EmailGenerateRequest:
      type: object
      properties:
        prompt:
          type: string
          minLength: 1
        contentUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 8
        referenceEmailId:
          type: string
      required:
        - prompt
      additionalProperties: false
    EmailImportRequest:
      type: object
      properties:
        format:
          type: string
          enum:
            - html
            - mjml
            - jsx
        content:
          type: string
          minLength: 1
          maxLength: 5000000
        title:
          type: string
          minLength: 1
          maxLength: 200
        baseUrl:
          type: string
          format: uri
      required:
        - format
        - content
      additionalProperties: false
    EmailGenerateResponse:
      anyOf:
        - type: object
          properties:
            emailId:
              type: string
              minLength: 1
            emailVersionId:
              type: string
              minLength: 1
            html:
              type: string
            previewImage:
              type: string
              format: uri
          required:
            - emailId
            - emailVersionId
            - html
          additionalProperties: false
        - type: object
          properties:
            response:
              type: string
              minLength: 1
          required:
            - response
          additionalProperties: false
    EmailEditRequest:
      type: object
      properties:
        prompt:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
          maxLength: 64
        contentUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 8
      required:
        - prompt
      additionalProperties: false
    EmailsDeleteResponse:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        deleted:
          type: boolean
      required:
        - emailId
        - deleted
      additionalProperties: false
    EmailRestoreRequest:
      type: object
      properties:
        version:
          type: integer
          minimum: 0
      required:
        - version
      additionalProperties: false
    EmailAccessibilityAuditResponse:
      type: object
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
        summary:
          type: object
          properties:
            errors:
              type: integer
              minimum: 0
            warnings:
              type: integer
              minimum: 0
          required:
            - errors
            - warnings
          additionalProperties: false
        issues:
          type: array
          items:
            type: object
            properties:
              rule:
                type: string
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
              wcag:
                type: string
              element:
                type: string
            required:
              - rule
              - severity
              - message
            additionalProperties: false
      required:
        - score
        - summary
        - issues
      additionalProperties: false
    SendsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              sendId:
                type: string
                minLength: 1
              kind:
                type: string
                enum:
                  - campaign
                  - automation
              emailId:
                type: string
                minLength: 1
              emailVersionId:
                type: string
                minLength: 1
              status:
                type: string
                enum:
                  - scheduled
                  - queued
                  - sending
                  - sent
                  - failed
                  - canceled
              subject:
                type: string
              previewText:
                type: string
              audienceId:
                type: string
                minLength: 1
              audienceName:
                type: string
                minLength: 1
              recipientCount:
                type: integer
                minimum: 0
              runId:
                type: string
                minLength: 1
              scheduledAt:
                type: string
                format: date-time
              startedAt:
                type: string
                format: date-time
              completedAt:
                type: string
                format: date-time
              failedAt:
                type: string
                format: date-time
              error:
                type: string
              stats:
                type: object
                properties:
                  sent:
                    type: integer
                    minimum: 0
                  delivered:
                    type: integer
                    minimum: 0
                  opened:
                    type: integer
                    minimum: 0
                  clicked:
                    type: integer
                    minimum: 0
                  bounced:
                    type: integer
                    minimum: 0
                  complained:
                    type: integer
                    minimum: 0
                  unsubscribed:
                    type: integer
                    minimum: 0
                required:
                  - sent
                  - delivered
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - unsubscribed
                additionalProperties: false
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              events:
                type: array
                items:
                  type: object
                  properties:
                    eventType:
                      type: string
                      enum:
                        - sent
                        - delivered
                        - delivery_delayed
                        - opened
                        - clicked
                        - bounced
                        - complained
                        - failed
                        - suppressed
                        - received
                        - unsubscribed
                    occurredAt:
                      type: string
                      format: date-time
                    recipientEmail:
                      type: string
                    url:
                      type: string
                  required:
                    - eventType
                    - occurredAt
                  additionalProperties: false
            required:
              - sendId
              - kind
              - emailId
              - status
              - createdAt
              - updatedAt
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    SendEmailTestResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - sent
        recipient:
          type: string
          format: email
      required:
        - status
        - recipient
      additionalProperties: false
    SendsPostResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - queued
            - scheduled
        sendId:
          type: string
          minLength: 1
        runId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
      required:
        - status
        - sendId
        - runId
      additionalProperties: false
    SendEmailRequest:
      anyOf:
        - type: object
          properties:
            test:
              type: boolean
              enum:
                - true
            emailId:
              type: string
              minLength: 1
            emailVersionId:
              type: string
              minLength: 1
            subject:
              type: string
              minLength: 1
            previewText:
              type: string
              maxLength: 50
            to:
              type: string
              format: email
            replyTo:
              type: string
              format: email
          required:
            - test
            - emailId
            - subject
            - to
          additionalProperties: false
        - type: object
          properties:
            test:
              type: boolean
              enum:
                - false
            emailId:
              type: string
              minLength: 1
            emailVersionId:
              type: string
              minLength: 1
            subject:
              type: string
              minLength: 1
            previewText:
              type: string
              maxLength: 50
            replyTo:
              type: string
              description: Reply-to address. Accepts a bare email (`a@b.com`) or the display-name form (`Name <a@b.com>`).
            domainId:
              type: string
              minLength: 1
            audienceId:
              type: string
              minLength: 1
            to:
              anyOf:
                - type: string
                  format: email
                - type: array
                  items:
                    type: string
                    format: email
                  minItems: 1
                  maxItems: 50
            scheduledAt:
              type: string
              format: date-time
          required:
            - emailId
            - subject
            - domainId
          additionalProperties: false
    SendCancelResponse:
      type: object
      properties:
        sendId:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - canceled
      required:
        - sendId
        - status
      additionalProperties: false
    CampaignAnalyticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              sendId:
                type: string
                minLength: 1
              emailId:
                type: string
                minLength: 1
              title:
                type: string
              status:
                type: string
                enum:
                  - scheduled
                  - queued
                  - sending
                  - sent
                  - failed
                  - canceled
              audienceName:
                type: string
              sentAt:
                type: string
                format: date-time
              stats:
                type: object
                properties:
                  sent:
                    type: integer
                    minimum: 0
                  delivered:
                    type: integer
                    minimum: 0
                  opened:
                    type: integer
                    minimum: 0
                  clicked:
                    type: integer
                    minimum: 0
                  bounced:
                    type: integer
                    minimum: 0
                  complained:
                    type: integer
                    minimum: 0
                  unsubscribed:
                    type: integer
                    minimum: 0
                required:
                  - sent
                  - delivered
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - unsubscribed
                additionalProperties: false
            required:
              - sendId
              - emailId
              - title
              - status
              - stats
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - data
        - pagination
      additionalProperties: false
    AutomationAnalyticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              automationId:
                type: string
                minLength: 1
              name:
                type: string
              published:
                type: boolean
              triggerEventId:
                type: string
              runs:
                type: integer
                minimum: 0
              completed:
                type: integer
                minimum: 0
              failed:
                type: integer
                minimum: 0
              sent:
                type: integer
                minimum: 0
              delivered:
                type: integer
                minimum: 0
              opened:
                type: integer
                minimum: 0
              clicked:
                type: integer
                minimum: 0
              bounced:
                type: integer
                minimum: 0
              successRate:
                type: number
                minimum: 0
                maximum: 1
              openRate:
                type: number
                minimum: 0
                maximum: 1
              clickRate:
                type: number
                minimum: 0
                maximum: 1
              lastRunAt:
                type: string
                format: date-time
              lastRunStatus:
                type: string
            required:
              - automationId
              - name
              - published
              - runs
              - completed
              - failed
              - sent
              - delivered
              - opened
              - clicked
              - bounced
              - successRate
              - openRate
              - clickRate
            additionalProperties: false
        totals:
          type: object
          properties:
            runs:
              type: integer
              minimum: 0
            completed:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
            sent:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            opened:
              type: integer
              minimum: 0
            clicked:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
          required:
            - runs
            - completed
            - failed
            - sent
            - delivered
            - opened
            - clicked
            - bounced
          additionalProperties: false
        range:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
          required:
            - from
            - to
          additionalProperties: false
      required:
        - data
        - totals
        - range
      additionalProperties: false
    EventsAnalyticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              occurredAt:
                type: string
                format: date-time
              domain:
                type: string
                enum:
                  - email
                  - automation
                  - trigger
                  - inbound
              eventType:
                type: string
                minLength: 1
              recipientEmail:
                type: string
              sendId:
                type: string
              emailId:
                type: string
              emailName:
                type: string
              automationId:
                type: string
              automationName:
                type: string
              nodeId:
                type: string
              triggerEventId:
                type: string
              provider:
                type: string
              mode:
                type: string
                enum:
                  - live
                  - test
              summary:
                type: string
            required:
              - id
              - occurredAt
              - domain
              - eventType
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
        range:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
          required:
            - from
            - to
          additionalProperties: false
      required:
        - data
        - pagination
        - range
      additionalProperties: false
    AutomationsPostRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      triggerEventId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                        minLength: 1
                      emailVersionId:
                        type: string
                        minLength: 1
                      domainId:
                        type: string
                        minLength: 1
                      subject:
                        type: string
                        minLength: 1
                      previewText:
                        type: string
                        minLength: 1
                      fromName:
                        type: string
                        minLength: 1
                      replyTo:
                        type: string
                        format: email
                      emailTitle:
                        type: string
                      fromAddress:
                        type: string
                    required:
                      - emailId
                      - emailVersionId
                      - domainId
                      - subject
                      - previewText
                    additionalProperties: false
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      logicalOperator:
                        type: string
                        enum:
                          - AND
                          - OR
                      conditions:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            operator:
                              type: string
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                          required:
                            - field
                            - operator
                    required:
                      - logicalOperator
                      - conditions
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
          maxItems: 500
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
                enum:
                  - left
                  - right
            required:
              - from
              - to
            additionalProperties: false
          maxItems: 1000
          default: []
        dryRun:
          type: boolean
      required:
        - name
        - triggerEventId
        - nodes
      additionalProperties: false
    AutomationsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              automationId:
                type: string
                minLength: 1
                maxLength: 64
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
              triggerEventId:
                type: string
                minLength: 1
                maxLength: 256
              name:
                type: string
                minLength: 1
                maxLength: 120
              description:
                type: string
                maxLength: 2000
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              published:
                type: boolean
              nodes:
                type: array
                items:
                  oneOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - trigger
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            triggerEventId:
                              type: string
                            eventName:
                              type: string
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - sendEmail
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            emailId:
                              type: string
                            emailVersionId:
                              type: string
                            emailTitle:
                              type: string
                            subject:
                              type: string
                            previewText:
                              type: string
                            fromName:
                              type: string
                            fromAddress:
                              type: string
                            domainId:
                              type: string
                            replyTo:
                              type: string
                            to: {}
                            html:
                              type: string
                            variables:
                              type: object
                              additionalProperties: {}
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - wait
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            duration:
                              type: number
                            unit:
                              type: string
                              enum:
                                - ms
                                - seconds
                                - minutes
                                - hours
                                - days
                                - weeks
                          required:
                            - duration
                            - unit
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - filter
                        config:
                          type: object
                          properties:
                            actionType:
                              type: string
                            logicalOperator:
                              type: string
                              enum:
                                - AND
                                - OR
                            conditions:
                              type: array
                              items:
                                type: object
                                properties:
                                  field:
                                    type: string
                                  operator:
                                    type: string
                                  value:
                                    anyOf:
                                      - type: string
                                      - type: number
                                      - type: boolean
                                required:
                                  - field
                                  - operator
                          required:
                            - logicalOperator
                            - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        description:
                          type: string
                        type:
                          type: string
                          enum:
                            - split
                        config:
                          oneOf:
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - percentage
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                leftPercentage:
                                  type: number
                                seed:
                                  type: string
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - leftPercentage
                            - type: object
                              properties:
                                actionType:
                                  type: string
                                mode:
                                  type: string
                                  enum:
                                    - condition
                                leftLabel:
                                  type: string
                                rightLabel:
                                  type: string
                                logicalOperator:
                                  type: string
                                  enum:
                                    - AND
                                    - OR
                                conditions:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      field:
                                        type: string
                                      operator:
                                        type: string
                                      value:
                                        anyOf:
                                          - type: string
                                          - type: number
                                          - type: boolean
                                    required:
                                      - field
                                      - operator
                              required:
                                - mode
                                - leftLabel
                                - rightLabel
                                - logicalOperator
                                - conditions
                      required:
                        - id
                        - label
                        - type
                        - config
              connections:
                type: array
                items:
                  type: object
                  properties:
                    from:
                      type: string
                      minLength: 1
                    to:
                      type: string
                      minLength: 1
                    branch:
                      type: string
                      enum:
                        - left
                        - right
                  required:
                    - from
                    - to
              emailIds:
                type: array
                items:
                  type: string
                  minLength: 1
                  maxLength: 64
              createdBy:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              publishedAt:
                type: string
                format: date-time
              versions:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      anyOf:
                        - type: integer
                          minimum: 0
                        - type: string
                          enum:
                            - latest
                    automationVersionId:
                      type: string
                      minLength: 1
                      maxLength: 64
                  required:
                    - version
                    - automationVersionId
                  additionalProperties: false
            required:
              - automationId
              - automationVersionId
              - name
              - version
              - published
              - emailIds
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    AutomationsUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      triggerEventId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                        minLength: 1
                      emailVersionId:
                        type: string
                        minLength: 1
                      domainId:
                        type: string
                        minLength: 1
                      subject:
                        type: string
                        minLength: 1
                      previewText:
                        type: string
                        minLength: 1
                      fromName:
                        type: string
                        minLength: 1
                      replyTo:
                        type: string
                        format: email
                      emailTitle:
                        type: string
                      fromAddress:
                        type: string
                    required:
                      - emailId
                      - emailVersionId
                      - domainId
                      - subject
                      - previewText
                    additionalProperties: false
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      logicalOperator:
                        type: string
                        enum:
                          - AND
                          - OR
                      conditions:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            operator:
                              type: string
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                          required:
                            - field
                            - operator
                    required:
                      - logicalOperator
                      - conditions
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
                additionalProperties: false
          maxItems: 500
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
                enum:
                  - left
                  - right
            required:
              - from
              - to
            additionalProperties: false
          maxItems: 1000
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        dryRun:
          type: boolean
        published:
          type: boolean
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
      additionalProperties: false
    AutomationsDeleteResponse:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        deleted:
          type: boolean
      required:
        - automationId
        - deleted
      additionalProperties: false
    AutomationRunStartedResponse:
      type: object
      properties:
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        automationRunIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        status:
          type: string
          enum:
            - triggered
            - idempotent_replay
            - test_started
            - replay_started
        counts:
          type: object
          properties:
            automations:
              type: integer
              minimum: 0
            transactionalEmails:
              type: integer
              minimum: 0
          required:
            - automations
            - transactionalEmails
          additionalProperties: false
        receivedAt:
          type: string
          format: date-time
        warnings:
          type: array
          items:
            type: string
      required:
        - automationRunIds
        - status
        - receivedAt
      additionalProperties: false
    AutomationTestRequest:
      type: object
      properties:
        payload:
          type: object
          additionalProperties: {}
      additionalProperties: false
    AutomationRunsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              automationRunId:
                type: string
                minLength: 1
                maxLength: 64
              automationId:
                type: string
                minLength: 1
                maxLength: 64
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
              triggerInstanceId:
                type: string
                minLength: 4
                maxLength: 64
              mode:
                type: string
                enum:
                  - live
                  - test
              status:
                type: string
                enum:
                  - pending
                  - running
                  - completed
                  - failed
                  - cancelled
              recipientEmail:
                type: string
              startedAt:
                type: string
                format: date-time
              completedAt:
                type: string
                format: date-time
              error:
                type: string
              logs:
                type: array
                items:
                  type: object
                  properties:
                    automationRunId:
                      type: string
                      minLength: 1
[...]
