openapi: 3.1.0
info:
  title: Brew Public API v1
  version: 1.0.0
  description: |-
    Generated from the Brew app Zod contracts (`lib/<domain>/contracts.ts`). This file is the source of truth for the public API documentation.

    ## Resource paths

    Identity lives in the URL path (`/v1/analytics/sends/{sendId}`) — never in a query param or request body. Collections are plural top-level segments (`/v1/emails`); query params exist only for collection pagination + simple filters. Relationships are sub-resources (`/v1/emails/{emailId}/sends`), and non-CRUD operations are explicit action sub-paths (`/v1/automations/{automationId}/test`).

    ## Response envelopes

    - Lists: `{ data: Row[], pagination: { limit, cursor: string | null, hasMore } }` — loop `while (cursor !== null)`.
    - Get-one and writes: the bare resource (creates return `201`; async sends `202`).
    - Deletes: `{ <idField>, deleted: boolean }` — idempotent (already-gone ids resolve with `deleted: false`).
    - Errors: `{ error: { code, type, message, param?, suggestion, docs } }` — branch on the stable `code`.
    - ONE exception: `POST /v1/automations/triggers/{triggerEventId}/fire` responds with the legacy fire envelope `{ success, status, code, message, receivedAt, details }` (shared with internal webhook infrastructure).

    ## Brand scoping

    API keys are always scoped to a specific brand. The brand is resolved from the key on every request. **No public endpoint accepts a `brandId` field** in its request body or query string — sending one returns `400 INVALID_REQUEST`. Resources that exist in a different brand surface as `404` (never `403`), so the API does not leak cross-brand existence. `GET /v1/templates` is organization-wide and not constrained to the key brand. Brands themselves are managed in the Brew dashboard.

    ## Idempotency

    Send an `Idempotency-Key` header (≤ 100 chars) on any POST your code might retry. Same key + same body within 24h returns the original response; same key + different body returns `409 IDEMPOTENCY_CONFLICT`.
  contact:
    name: Brew Support
    url: https://docs.brew.new
    email: support@brew.new
servers:
  - url: https://brew.new/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Emails
    description: "Email designs and sending. Generate a design with the Brew email agent, edit, version, restore — then send it: `POST /v1/sends` delivers a design to a target (a saved audience, an inline list, or a single address) via a verified domain, and `POST /v1/sends/test` fires a one-off test. Sending is not campaign-specific. Send reads (list, status, per-send event feeds) live under Analytics (`/v1/analytics/sends`)."
  - name: Analytics
    description: "Read-only cross-resource analytics: lifetime per-campaign KPIs, windowed automation performance, the unified event feed, send reads (`/v1/analytics/sends`), and the fired-trigger audit log (`/v1/analytics/trigger-instances`)."
  - name: Automations
    description: Automation graphs — deterministic create from explicit `nodes` + `connections`, update, version, publish / unpublish, test. Includes trigger event definitions + the fire endpoint (`/v1/automations/triggers`) and run history (`/v1/automations/runs`).
  - name: Contacts
    description: Create, search, patch, and delete contacts. Email is the primary key.
  - name: Contact Fields
    description: List, create, and delete custom contact field definitions.
  - name: Audiences
    description: Saved contact filter sets — a recipient target for sends.
  - name: Domains
    description: "Sending domains: add, read DNS records, verify, configure sender defaults."
  - name: Templates
    description: Public template gallery (read-only) usable as generation references.
  - name: Brand
    description: The single brand bound to the API key.
  - name: Chats
    description: Read a brand-scoped digest of a Brew chat — referenced emails/automations/triggers + a trimmed transcript — so an external agent can resume the conversation.
  - name: Meta
    description: "Public discovery surface (no auth): the machine-readable API catalog (`/v1/help`)."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Send your Brew API key as `Authorization: Bearer brew_xxx`."
      x-default: Bearer brew_your_api_key
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Send your Brew API key as `X-API-Key: brew_xxx`."
      x-default: brew_your_api_key
  schemas:
    EmailSummary:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
        previewText:
          type: string
          description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
        html:
          type: string
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              emailVersionId:
                type: string
                minLength: 1
            required:
              - version
              - emailVersionId
            additionalProperties: false
      required:
        - emailId
        - title
        - status
        - updatedAt
      additionalProperties: false
    EmailDetail:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        previewText:
          type: string
          description: The design's inbox preview line, read directly from the latest version's JSX <Preview> — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends.
        html:
          type: string
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
      required:
        - emailId
        - title
        - status
        - updatedAt
      additionalProperties: false
    EmailVersionRow:
      type: object
      properties:
        emailVersionId:
          type: string
          minLength: 1
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        updatedAt:
          type: string
          format: date-time
      required:
        - emailVersionId
        - version
        - status
        - updatedAt
      additionalProperties: false
    Send:
      type: object
      properties:
        sendId:
          type: string
          minLength: 1
        kind:
          type: string
          enum:
            - campaign
            - automation
        messageClass:
          type: string
          enum:
            - marketing
            - transactional
          default: marketing
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - scheduled
            - queued
            - sending
            - paused
            - sent
            - failed
            - canceled
        subject:
          type: string
        previewText:
          type: string
        fromAddress:
          type: string
        senderName:
          type: string
        replyTo:
          type: string
        domainId:
          type: string
        audienceId:
          type: string
          minLength: 1
        audienceName:
          type: string
          minLength: 1
        recipientCount:
          type: integer
          minimum: 0
        runId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        failedAt:
          type: string
          format: date-time
        error:
          type: string
        stats:
          type: object
          properties:
            sent:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            opened:
              type: integer
              minimum: 0
            clicked:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            complained:
              type: integer
              minimum: 0
            unsubscribed:
              type: integer
              minimum: 0
          required:
            - sent
            - delivered
            - opened
            - clicked
            - bounced
            - complained
            - unsubscribed
          additionalProperties: false
        gradualSend:
          type: object
          properties:
            startingPercentage:
              type: number
              minimum: 0.1
              maximum: 100
            incrementPercentage:
              type: number
              minimum: 0
              maximum: 100
            interval:
              oneOf:
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 24
                    unit:
                      type: string
                      enum:
                        - hour
                  required:
                    - value
                    - unit
                  additionalProperties: false
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 30
                    unit:
                      type: string
                      enum:
                        - day
                  required:
                    - value
                    - unit
                  additionalProperties: false
            timeZone:
              type: string
              minLength: 1
              description: IANA timezone used to preserve local wall-clock time for day intervals.
            rampEndsAt:
              type: string
              format: date-time
            currentTranche:
              type: integer
              exclusiveMinimum: 0
            sentSoFar:
              type: integer
              minimum: 0
            pausedAt:
              type: string
              format: date-time
            pauseReason:
              type: string
              enum:
                - manual
            resumedAt:
              type: string
              format: date-time
          required:
            - startingPercentage
            - incrementPercentage
            - interval
            - timeZone
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
                enum:
                  - sent
                  - delivered
                  - delivery_delayed
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - failed
                  - suppressed
                  - quota_skipped
                  - received
                  - unsubscribed
              occurredAt:
                type: string
                format: date-time
              recipientEmail:
                type: string
              url:
                type: string
            required:
              - eventType
              - occurredAt
            additionalProperties: false
      required:
        - sendId
        - kind
        - emailId
        - status
        - createdAt
        - updatedAt
      additionalProperties: false
    SendEvent:
      type: object
      properties:
        eventType:
          type: string
          enum:
            - sent
            - delivered
            - delivery_delayed
            - opened
            - clicked
            - bounced
            - complained
            - failed
            - suppressed
            - quota_skipped
            - received
            - unsubscribed
        occurredAt:
          type: string
          format: date-time
        recipientEmail:
          type: string
        url:
          type: string
      required:
        - eventType
        - occurredAt
      additionalProperties: false
    AutomationNode:
      oneOf:
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - trigger
            config:
              type: object
              properties:
                actionType:
                  type: string
                mode:
                  type: string
                  enum:
                    - event
                    - manualAudience
                triggerEventId:
                  type: string
                audienceId:
                  type: string
                eventName:
                  type: string
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - sendEmail
            config:
              type: object
              properties:
                actionType:
                  type: string
                emailId:
                  type: string
                  minLength: 1
                emailVersionId:
                  type: string
                  minLength: 1
                domainId:
                  type: string
                  minLength: 1
                subject:
                  type: string
                  minLength: 1
                previewText:
                  type: string
                  minLength: 1
                messageClass:
                  type: string
                  enum:
                    - marketing
                    - transactional
                  default: marketing
                fromName:
                  type: string
                  minLength: 1
                replyTo:
                  type: string
                  format: email
                emailTitle:
                  type: string
                fromAddress:
                  type: string
              required:
                - emailId
                - emailVersionId
                - domainId
                - subject
                - previewText
              additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - wait
            config:
              type: object
              properties:
                actionType:
                  type: string
                duration:
                  type: number
                unit:
                  type: string
                  enum:
                    - ms
                    - seconds
                    - minutes
                    - hours
                    - days
                    - weeks
              required:
                - duration
                - unit
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - filter
            config:
              type: object
              properties:
                actionType:
                  type: string
                logicalOperator:
                  type: string
                  enum:
                    - AND
                    - OR
                conditions:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - string
                          operator:
                            type: string
                            enum:
                              - equals
                              - not_equals
                              - contains
                              - not_contains
                              - starts_with
                              - ends_with
                          value:
                            type: string
                            description: String value to compare against.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - number
                          operator:
                            type: string
                            enum:
                              - equals
                              - not_equals
                              - gt
                              - gte
                              - lt
                              - lte
                          value:
                            type: number
                            description: Finite numeric value to compare against.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - date
                          operator:
                            type: string
                            enum:
                              - equals
                              - not_equals
                              - gt
                              - gte
                              - lt
                              - lte
                          value:
                            anyOf:
                              - type: string
                                minLength: 1
                              - type: number
                            description: ISO date string or Unix timestamp in milliseconds to compare against.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - string
                          operator:
                            type: string
                            enum:
                              - in
                              - not_in
                              - contains_any
                              - not_contains_any
                          value:
                            type: array
                            items:
                              type: string
                              minLength: 1
                            minItems: 1
                            description: Non-empty array of string values to compare against.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - number
                          operator:
                            type: string
                            enum:
                              - in
                              - not_in
                          value:
                            type: array
                            items:
                              type: number
                            minItems: 1
                            description: Non-empty array of finite numbers to compare against.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - number
                          operator:
                            type: string
                            enum:
                              - between
                          value:
                            type: array
                            prefixItems:
                              - type: number
                              - type: number
                            description: Inclusive [minimum, maximum] numeric bounds.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - date
                          operator:
                            type: string
                            enum:
                              - between
                          value:
                            type: array
                            prefixItems:
                              - anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                              - anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                            description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                        required:
                          - field
                          - type
                          - operator
                          - value
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - string
                          operator:
                            type: string
                            enum:
                              - is_empty
                              - is_not_empty
                            description: Unary empty check; do not provide a value.
                        required:
                          - field
                          - type
                          - operator
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - number
                          operator:
                            type: string
                            enum:
                              - is_empty
                              - is_not_empty
                            description: Unary empty check; do not provide a value.
                        required:
                          - field
                          - type
                          - operator
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - date
                          operator:
                            type: string
                            enum:
                              - is_empty
                              - is_not_empty
                            description: Unary empty check; do not provide a value.
                        required:
                          - field
                          - type
                          - operator
                        additionalProperties: false
                      - type: object
                        properties:
                          field:
                            type: string
                            minLength: 1
                            description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                          type:
                            type: string
                            enum:
                              - bool
                          operator:
                            type: string
                            enum:
                              - is_true
                              - is_false
                            description: Unary boolean check; do not provide a value.
                        required:
                          - field
                          - type
                          - operator
                        additionalProperties: false
                  minItems: 1
              required:
                - logicalOperator
                - conditions
              additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - split
            config:
              oneOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - percentage
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    leftPercentage:
                      type: number
                      minimum: 0
                      maximum: 100
                    seed:
                      type: string
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - leftPercentage
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - condition
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - contains
                                  - not_contains
                                  - starts_with
                                  - ends_with
                              value:
                                type: string
                                description: String value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                type: number
                                description: Finite numeric value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                                description: ISO date string or Unix timestamp in milliseconds to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                                  - contains_any
                                  - not_contains_any
                              value:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                minItems: 1
                                description: Non-empty array of string values to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                              value:
                                type: array
                                items:
                                  type: number
                                minItems: 1
                                description: Non-empty array of finite numbers to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - type: number
                                  - type: number
                                description: Inclusive [minimum, maximum] numeric bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - bool
                              operator:
                                type: string
                                enum:
                                  - is_true
                                  - is_false
                                description: Unary boolean check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                      minItems: 1
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - logicalOperator
                    - conditions
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
    AutomationConnection:
      type: object
      properties:
        from:
          type: string
          minLength: 1
        to:
          type: string
          minLength: 1
        branch:
          type: string
          enum:
            - left
            - right
      required:
        - from
        - to
      additionalProperties: false
    AutomationRow:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        published:
          type: boolean
        paused:
          type: boolean
        pausedAt:
          type: number
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      mode:
                        type: string
                        enum:
                          - event
                          - manualAudience
                      triggerEventId:
                        type: string
                      audienceId:
                        type: string
                      eventName:
                        type: string
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                      emailVersionId:
                        type: string
                      emailTitle:
                        type: string
                      subject:
                        type: string
                      previewText:
                        type: string
                      messageClass:
                        type: string
                        enum:
                          - marketing
                          - transactional
                      fromName:
                        type: string
                      fromAddress:
                        type: string
                      domainId:
                        type: string
                      replyTo:
                        type: string
                      to: {}
                      html:
                        type: string
                      variables:
                        type: object
                        additionalProperties: {}
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      logicalOperator:
                        type: string
                        enum:
                          - AND
                          - OR
                      conditions:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            operator:
                              type: string
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                                - type: array
                                  items:
                                    anyOf:
                                      - type: string
                                      - type: number
                            type:
                              type: string
                              enum:
                                - string
                                - number
                                - date
                                - bool
                          required:
                            - field
                            - operator
                    required:
                      - logicalOperator
                      - conditions
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: number
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - date
                                    - bool
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
                enum:
                  - left
                  - right
            required:
              - from
              - to
        emailIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
            required:
              - version
              - automationVersionId
            additionalProperties: false
      required:
        - automationId
        - automationVersionId
        - name
        - version
        - published
        - emailIds
      additionalProperties: false
    AutomationRunRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        mode:
          type: string
          enum:
            - live
            - test
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - canceled
        recipientEmail:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - automationId
        - mode
        - status
      additionalProperties: false
    AutomationRunLogRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        nodeId:
          type: string
          minLength: 1
        nodeName:
          type: string
          minLength: 1
        nodeType:
          type: string
          enum:
            - trigger
            - wait
            - filter
            - split
            - sendEmail
        status:
          type: string
          enum:
            - running
            - success
            - error
            - skipped
        orderIndex:
          type: integer
          minimum: 0
        branch:
          type: string
          enum:
            - left
            - right
        durationMs:
          type: integer
          minimum: 0
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - nodeId
        - nodeName
        - nodeType
        - status
        - orderIndex
        - startedAt
      additionalProperties: false
    TriggerRow:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        provider:
          type: string
          enum:
            - brew_api
            - clerk
            - stripe
            - shopify
            - stytch
            - supabase
            - workos
            - revenuecat
            - custom
        providerEventKey:
          type: string
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    minLength: 1
                    description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
                  type:
                    type: string
                    enum:
                      - string
                      - int
                      - boolean
                  required:
                    type: boolean
                  fallbackValue:
                    anyOf:
                      - type: string
                      - type: number
                      - type: boolean
                    description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example.
                  pii:
                    type: string
                    enum:
                      - none
                      - low
                      - high
                    description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
                required:
                  - key
                  - type
                  - required
          required:
            - type
            - fields
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - triggerEventId
        - title
        - provider
        - payloadSchema
        - createdAt
        - updatedAt
      additionalProperties: false
    TriggerEventInstance:
      type: object
      properties:
        triggerInstanceId:
          type: string
          minLength: 1
        source:
          type: string
          enum:
            - api
            - integration
        provider:
          type: string
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        state:
          type: string
          minLength: 1
        matchedAutomationIds:
          type: array
          items:
            type: string
        automationRunIds:
          type: array
          items:
            type: string
        rejectionReason:
          type: string
        attempts:
          type: integer
          minimum: 0
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
      required:
        - triggerInstanceId
        - source
        - state
        - matchedAutomationIds
        - automationRunIds
        - attempts
        - receivedAt
      additionalProperties: false
    Contact:
      type: object
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        subscribed:
          type: boolean
          default: true
        validationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
        verificationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
          description: "Deprecated: legacy mirror of validationStatus. Will be removed; read validationStatus."
        suppressed:
          type: boolean
          default: false
        suppressedReason:
          type:
            - string
            - "null"
        lastValidatedAt:
          type: string
          format: date-time
        validationDetails:
          type: object
          properties:
            provider:
              type: string
              enum:
                - brew
            reason:
              type: string
            didYouMean:
              type: string
            risk:
              type: string
            isDisposable:
              type: boolean
            isRole:
              type: boolean
          required:
            - provider
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        importId:
          type:
            - string
            - "null"
        customFields:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - email
        - createdAt
        - updatedAt
      additionalProperties: false
    ContactFieldDefinition:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
        fieldType:
          type: string
          enum:
            - string
            - number
            - date
            - bool
        label:
          type: string
        isCore:
          type: boolean
        isFilterable:
          type: boolean
        isSortable:
          type: boolean
        isSearchable:
          type: boolean
        coverage:
          type: object
          properties:
            percent:
              type: integer
              minimum: 0
              maximum: 100
            approximate:
              type: boolean
            topValues:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                  count:
                    type: integer
                    minimum: 0
                  percent:
                    type: integer
                    minimum: 0
                    maximum: 100
                required:
                  - value
                  - count
                  - percent
                additionalProperties: false
            dominantValue:
              type: string
          required:
            - percent
            - approximate
            - topValues
          additionalProperties: false
      required:
        - fieldName
        - fieldType
      additionalProperties: false
    Audience:
      type: object
      properties:
        audienceId:
          type: string
          minLength: 1
          maxLength: 64
        audienceName:
          type: string
          minLength: 1
          maxLength: 200
        filters:
          type: object
          properties:
            filters:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    minLength: 1
                  operator:
                    type: string
                    enum:
                      - equals
                      - not_equals
                      - contains
                      - not_contains
                      - contains_any
                      - not_contains_any
                      - starts_with
                      - ends_with
                      - gt
                      - gte
                      - lt
                      - lte
                      - between
                      - is_true
                      - is_false
                      - in
                      - not_in
                      - is_empty
                      - not_exists
                      - is_not_empty
                      - exists
                      - is_set
                      - before
                      - after
                      - on_date
                  value: {}
                  type:
                    type: string
                    description: The field's value type — set `number`, `date`, or `boolean` for typed comparisons (dates are stored as epoch-ms, so a string `equals` on a date never matches). Omit for plain string fields.
                required:
                  - field
                  - operator
                additionalProperties: false
            logicalOperator:
              type: string
              enum:
                - and
                - or
          required:
            - filters
            - logicalOperator
          additionalProperties: false
        count:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - audienceId
        - audienceName
        - filters
        - count
        - createdAt
        - updatedAt
      additionalProperties: false
    Domain:
      type: object
      properties:
        domainId:
          type: string
          minLength: 1
          maxLength: 64
        domainUrl:
          type: string
          format: uri
        name:
          type: string
          minLength: 1
          maxLength: 253
        region:
          type: string
        status:
          type: string
          enum:
            - not_started
            - pending
            - verified
            - failed
            - temporary_failure
            - partially_verified
            - partially_failed
        sendingEnabled:
          type: boolean
        sendable:
          type: boolean
        records:
          type: array
          items:
            type: object
            properties:
              record:
                type: string
              name:
                type: string
              type:
                type: string
              ttl:
                type: string
              status:
                type: string
              value:
                type: string
              priority:
                type: number
            required:
              - record
              - name
              - type
              - ttl
              - status
              - value
            additionalProperties: false
        openTracking:
          type: boolean
        clickTracking:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        verifiedAt:
          type: string
          format: date-time
      required:
        - domainId
        - domainUrl
        - name
        - region
        - status
        - sendingEnabled
        - sendable
        - records
        - createdAt
        - updatedAt
      additionalProperties: false
    Template:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        category:
          type: string
          minLength: 1
        brand:
          type: string
          minLength: 1
        html:
          type: string
          minLength: 1
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          minLength: 1
      required:
        - emailId
        - title
        - html
        - previewImage
        - updatedAt
      additionalProperties: false
    EmailsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              emailId:
                type: string
                minLength: 1
              emailVersionId:
                type: string
                minLength: 1
              title:
                type: string
                minLength: 1
              status:
                type: string
                enum:
                  - streaming
                  - complete
                  - error
              previewImage:
                type: string
                format: uri
              updatedAt:
                type: string
                format: date-time
              previewText:
                type: string
                description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
              html:
                type: string
              versions:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      anyOf:
                        - type: integer
                          minimum: 0
                        - type: string
                          enum:
                            - latest
                    emailVersionId:
                      type: string
                      minLength: 1
                  required:
                    - version
                    - emailVersionId
                  additionalProperties: false
            required:
              - emailId
              - title
              - status
              - updatedAt
            additionalProperties: false
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            cursor:
              type:
                - string
                - "null"
            hasMore:
              type: boolean
          required:
            - limit
            - cursor
            - hasMore
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    ApiErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              minLength: 1
            type:
              type: string
              enum:
                - authentication_error
                - authorization_error
                - invalid_request
                - not_found
                - not_implemented
                - conflict
                - rate_limit
                - payment_required
                - service_unavailable
                - internal_error
            message:
              type: string
              minLength: 1
            param:
              type: string
              minLength: 1
            suggestion:
              type: string
              minLength: 1
            docs:
              type: string
              format: uri
            retryAfter:
              type: integer
              minimum: 0
            details:
              type: object
              additionalProperties: {}
          required:
            - code
            - type
            - message
            - suggestion
            - docs
      required:
        - error
    EmailGenerateTextResponse:
      type: object
      properties:
        response:
          type: string
          minLength: 1
      required:
        - response
      additionalProperties: false
    EmailGenerateGeneratedResponse:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        html:
          type: string
        previewImage:
          type: string
          format: uri
      required:
        - emailId
        - emailVersionId
        - html
      additionalProperties: false
    EmailGenerateRequest:
      type: object
      properties:
        prompt:
          type: string
          minLength: 1
          description: What the email is about — campaign goal, key content, offer, tone. The more specific (product names, dates, discount, audience), the better the design.
        contentUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 8
          description: Up to 8 source URLs to build the email FROM — each is crawled and synthesized into one email (newsletters, recaps, product roundups).
        referenceEmailId:
          type: string
          description: An existing design (`emailId` from `list_email_designs`) to use as the style/layout reference for the new email.
        category:
          type: string
          enum:
            - welcome
            - newsletter
            - promotional
            - product-launch
            - product-update
            - cart-abandonment
            - event-invitation
            - event-reminder
            - feedback-request
            - re-engagement
            - referral
            - business
            - internal
            - general
          description: "Marketing email category that steers the design treatment (exemplars, hero recipe, personalization) — mirrors what the in-app agent infers per request. One of: welcome, newsletter, promotional, product-launch, product-update, cart-abandonment, event-invitation, event-reminder, feedback-request, re-engagement, referral, business, internal, general. Omit for a general treatment. Transactional emails (receipts, password resets, order confirmations) are sent via automations with a trigger, not this endpoint."
      required:
        - prompt
      additionalProperties: false
    EmailImportRequest:
      type: object
      properties:
        format:
          type: string
          enum:
            - html
            - mjml
            - jsx
        content:
          type: string
          minLength: 1
          maxLength: 5000000
        title:
          type: string
          minLength: 1
          maxLength: 200
        baseUrl:
          type: string
          format: uri
      required:
        - format
        - content
      additionalProperties: false
    EmailGenerateResponse:
      anyOf:
        - type: object
          properties:
            emailId:
              type: string
              minLength: 1
            emailVersionId:
              type: string
              minLength: 1
            html:
              type: string
            previewImage:
              type: string
              format: uri
          required:
            - emailId
            - emailVersionId
            - html
          additionalProperties: false
        - type: object
          properties:
            response:
              type: string
              minLength: 1
          required:
            - response
          additionalProperties: false
    EmailEditRequest:
      type: object
      properties:
        prompt:
          type: string
          minLength: 1
          description: The edit to make, in plain language — e.g. "swap the hero for the spring campaign image and tighten the CTA copy". Scoped edits beat full rewrites.
        emailVersionId:
          type: string
          minLength: 1
          maxLength: 64
          description: 'Pin the edit to a specific source version (from `list_email_designs` `include: ["versions"]`). Omit to edit the current latest.'
        contentUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 8
          description: Up to 8 URLs whose content grounds the edit (e.g. the product page the new section should describe).
      required:
        - prompt
      additionalProperties: false
    EmailsDeleteResponse:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        deleted:
          type: boolean
      required:
        - emailId
        - deleted
      additionalProperties: false
    EmailCloneRequest:
      type: object
      properties:
        emailVersionId:
          type: string
          minLength: 1
          maxLength: 64
          description: 'Exact source version to clone (from `list_email_designs` with `include: ["versions"]`). Omit to clone the current latest version.'
      additionalProperties: false
    EmailRestoreRequest:
      type: object
      properties:
        version:
          type: integer
          minimum: 0
      required:
        - version
      additionalProperties: false
    EmailFigmaImportResponse:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
        warningCount:
          type: integer
          minimum: 0
        exportedNodeCount:
          type: integer
          minimum: 0
      required:
        - emailId
        - emailVersionId
        - title
        - warningCount
        - exportedNodeCount
      additionalProperties: false
    EmailFigmaImportRequest:
      type: object
      properties:
        figmaUrl:
          type: string
          minLength: 1
          maxLength: 2048
        title:
          type: string
          minLength: 1
          maxLength: 120
        figmaAccessToken:
          type: string
          minLength: 1
          maxLength: 512
      required:
        - figmaUrl
      additionalProperties: false
    EmailExportResponse:
      type: object
      properties:
        emailId:
          type: string
        provider:
          type: string
          enum:
            - braze
            - hubspot
            - klaviyo
            - mailchimp
            - iterable
            - postmark
            - onesignal
            - mailgun
            - sendgrid
        providerName:
          type: string
        templateName:
          type: string
        templateId:
          type: string
        dryRun:
          type: boolean
      required:
        - emailId
        - provider
        - providerName
        - templateName
        - dryRun
    EmailExportRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
            - braze
            - hubspot
            - klaviyo
            - mailchimp
            - iterable
            - postmark
            - onesignal
            - mailgun
            - sendgrid
          description: The connected ESP to export the design to as a template.
        templateName:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name in the ESP. Defaults to the email title.
        dry_run:
          type: boolean
          description: Validate the design, brand ownership, and ESP connection without creating a template.
      required:
        - provider
      additionalProperties: false
    EmailAccessibilityAuditResponse:
      type: object
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
        summary:
          type: object
          properties:
            errors:
              type: integer
              minimum: 0
            warnings:
              type: integer
              minimum: 0
          required:
            - errors
            - warnings
          additionalProperties: false
        issues:
          type: array
          items:
            type: object
            properties:
              rule:
                type: string
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
              wcag:
                type: string
              element:
                type: string
            required:
              - rule
              - severity
              - message
            additionalProperties: false
      required:
        - score
        - summary
        - issues
      additionalProperties: false
    EmailClientPreviewResponse:
      type: object
      properties:
        emailId:
          type: string
        status:
          type: string
          enum:
            - ready
            - partial
        previews:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              label:
                type: string
              category:
                type: string
                enum:
                  - gmail
                  - outlook
                  - apple
                  - yahoo
                  - other
              os:
                type: string
              dark:
                type: boolean
              status:
                type: string
                enum:
                  - ready
                  - processing
                  - failed
              imageUrl:
                type:
                  - string
                  - "null"
                format: uri
            required:
              - id
              - label
              - category
              - os
              - dark
              - status
              - imageUrl
            additionalProperties: false
        pending:
          type: array
          items:
            type: string
      required:
        - emailId
        - status
        - previews
        - pending
      additionalProperties: false
    EmailClientPreviewRequest:
      type: object
      properties:
        clients:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 80
          minItems: 1
          maxItems: 12
          description: "Client ids to render. Omit for a default popular spread of Gmail, Outlook, Apple Mail & iOS. Supported: gmailcom-lm_chrcurrent_win10 = Gmail (Web); gmailcom-dm_chrcurrent_win10 = Gmail (Web, Dark); android16_gmailapp_pixel10_lm = Gmail (Android); android16_gmailapp_pixel10_dm = Gmail (Android, Dark); iphone16gmail_18 = Gmail (iOS); outlook2021_win11_lm_dt = Outlook 2021 (Windows); outlook2021_win11_dm_dt = Outlook 2021 (Windows, Dark); o365_w10_lm_dt = Outlook 365 (Windows); outlookcom-lm_chrcurrent_win10 = Outlook.com (Web); applemail16 = Apple Mail (macOS); applemail16_dm = Apple Mail (macOS, Dark); iphone16_18 = Apple Mail (iOS); iphone16_18_dm = Apple Mail (iOS, Dark); yahoocom-lm_chrcurrent_win10 = Yahoo Mail (Web)."
      additionalProperties: false
    EmailInboxPlacementTest:
      type: object
      properties:
        testId:
          type: string
        emailId:
          type: string
        status:
          type: string
          enum:
            - pending
            - sending
            - collecting
            - completed
            - partial
            - failed
        domainId:
          type: string
        subject:
          type: string
        previewText:
          type: string
        emailVersionId:
          type: string
        seedCount:
          type: integer
          minimum: 0
        results:
          type:
            - object
            - "null"
          properties:
            overall:
              type: object
              properties:
                provider:
                  type: string
                total:
                  type: integer
                  minimum: 0
                inbox:
                  type: integer
                  minimum: 0
                spam:
                  type: integer
                  minimum: 0
                missing:
                  type: integer
                  minimum: 0
                pending:
                  type: integer
                  minimum: 0
                categories:
                  type: object
                  additionalProperties:
                    type: integer
                    minimum: 0
                folders:
                  type: object
                  additionalProperties:
                    type: integer
                    minimum: 0
                authentication:
                  type: object
                  properties:
                    spf:
                      type: string
                      enum:
                        - pass
                        - fail
                        - mixed
                    dkim:
                      type: string
                      enum:
                        - pass
                        - fail
                        - mixed
                    dmarc:
                      type: string
                      enum:
                        - pass
                        - fail
                        - mixed
                  additionalProperties: false
              required:
                - provider
                - total
                - inbox
                - spam
                - missing
                - pending
              additionalProperties: false
            byProvider:
              type: array
              items:
                type: object
                properties:
                  provider:
                    type: string
                  total:
                    type: integer
                    minimum: 0
                  inbox:
                    type: integer
                    minimum: 0
                  spam:
                    type: integer
                    minimum: 0
                  missing:
                    type: integer
                    minimum: 0
                  pending:
                    type: integer
                    minimum: 0
                  categories:
                    type: object
                    additionalProperties:
                      type: integer
                      minimum: 0
                  folders:
                    type: object
                    additionalProperties:
                      type: integer
                      minimum: 0
                  authentication:
                    type: object
                    properties:
                      spf:
                        type: string
                        enum:
                          - pass
                          - fail
                          - mixed
                      dkim:
                        type: string
                        enum:
                          - pass
                          - fail
                          - mixed
                      dmarc:
                        type: string
                        enum:
                          - pass
                          - fail
                          - mixed
                    additionalProperties: false
                required:
                  - provider
                  - total
                  - inbox
                  - spam
                  - missing
                  - pending
                additionalProperties: false
            authentication:
              type: object
              properties:
                spf:
                  type: string
                dkim:
                  type: string
                dmarc:
                  type: string
              additionalProperties: false
            spamFilter:
              type: object
              properties:
                flagged:
                  type: boolean
                score:
                  type: number
                threshold:
                  type: number
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      score:
                        type: number
                      description:
                        type: string
                    required:
                      - name
                      - score
                    additionalProperties: false
              required:
                - flagged
                - score
                - threshold
                - rules
              additionalProperties: false
            microsoftFilter:
              type: object
              properties:
                spamConfidenceLevel:
                  type: number
                bulkComplaintLevel:
                  type: number
                sampleCount:
                  type: integer
                  minimum: 0
                junked:
                  type: boolean
              required:
                - spamConfidenceLevel
                - bulkComplaintLevel
                - sampleCount
                - junked
              additionalProperties: false
            spoofingDetected:
              type: boolean
            headers:
              type: object
              properties:
                listUnsubscribe:
                  type: boolean
                oneClickUnsubscribe:
                  type: boolean
                plainTextPart:
                  type: boolean
                feedbackId:
                  type: boolean
              required:
                - listUnsubscribe
                - oneClickUnsubscribe
                - plainTextPart
                - feedbackId
              additionalProperties: false
          required:
            - overall
            - byProvider
            - authentication
          additionalProperties: false
        diagnosis:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                enum:
                  - spoofing_detected
                  - aggregate_auth_failure
                  - provider_auth_failure
                  - microsoft_junk_filtering
                  - provider_spam_placement
                  - promotions_tab_placement
                  - bulk_folder_placement
                  - content_filter_flagged
                  - content_rule
                  - missing_list_unsubscribe
                  - missing_plain_text_part
              severity:
                type: string
                enum:
                  - critical
                  - warning
                  - info
              provider:
                type: string
              summary:
                type: string
              remediation:
                type: string
            required:
              - id
              - severity
              - summary
              - remediation
            additionalProperties: false
        errorMessage:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
      required:
        - testId
        - emailId
        - status
        - domainId
        - seedCount
        - results
        - createdAt
        - updatedAt
      additionalProperties: false
    EmailInboxPlacementRequest:
      type: object
      properties:
        domainId:
          type: string
          minLength: 1
          maxLength: 64
          description: Verified sending domain id to test FROM (the seed send goes out on this domain, so the result reflects its real reputation).
        subject:
          type: string
          minLength: 1
          maxLength: 200
          description: Subject line for the seed send; defaults to the email title. A VARIANT dimension — run several tests on one design varying only the subject to compare placement.
        previewText:
          type: string
          maxLength: 200
          description: "Preview/preheader text for the seed send — overrides the design's JSX <Preview> for this test. A VARIANT dimension, like `subject`: run several tests varying only the preheader to compare placement."
        emailVersionId:
          type: string
          minLength: 1
          description: 'Pin a specific design version to test (from `list_email_designs` with `include: ["versions"]`); omit for the latest. A VARIANT dimension — test two versions of one design against each other.'
        providers:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 80
          minItems: 1
          maxItems: 30
          description: Restrict seed mailbox providers (e.g. ["gmail.com","outlook.com","yahoo.com"]); omit for a broad default spread.
      required:
        - domainId
      additionalProperties: false
    EmailInboxPlacementGetResponse:
      anyOf:
        - $ref: "#/components/schemas/EmailInboxPlacementTest"
        - $ref: "#/components/schemas/EmailInboxPlacementTestList"
    EmailInboxPlacementTestList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              testId:
                type: string
              status:
                type: string
                enum:
                  - pending
                  - sending
                  - collecting
                  - completed
                  - partial
                  - failed
              domainId:
                type: string
              subject:
                type: string
              previewText:
                type: string
              emailVersionId:
                type: string
              seedCount:
                type: integer
                minimum: 0
              overall:
                type:
                  - object
                  - "null"
                properties:
                  provider:
                    type: string
                  total:
                    type: integer
                    minimum: 0
                  inbox:
                    type: integer
                    minimum: 0
                  spam:
                    type: integer
                    minimum: 0
                  missing:
                    type: integer
                    minimum: 0
                  pending:
                    type: integer
                    minimum: 0
                  categories:
                    type: object
                    additionalProperties:
                      type: integer
                      minimum: 0
                  folders:
                    type: object
                    additionalProperties:
                      type: integer
[...]
